<div class="card-body">
    <h6>Agregar motivo de la autorización</h6>
    <div class="form-group">
        <div>
            <img width="50" class="avatar" src="{{ asset('/img/faces/avatar-default-icon.png') }}"/>
            
            <label>Agregar Comentario</label>
            <div style="display:flex">
                <input id="txtCommentItem" type="text" multiline="true" class="form-control"/>
                <div id="btnSendCommentItem" onclick="sendCommentItemAuth()" class="btn btn-round btn-just-icon btn-info"><i  class="material-icons">send</i></div>
            </div>
        </div>
    </div>
</div>
<script>
    function sendCommentItemAuth(){
        $("#btnSendCommentItem").addClass("disabled");
        var comentario = $("#txtCommentItem").val();
        var data ={comment: comentario};
        $.ajax({
             type: "POST",
             url: "/portal/tramite/autorizacion/comment/add/{{tramite.id}}/",
             async:true,
             dataType: 'json',
            data: data,
             success: function (data) {
                
                //swal({title:'OK', html: data, type:'success'});
            
                $("#modalLong").modal('hide');
                $("#modalLg").modal('hide');
            }, 
            error: function (err) {
               if(err.statusText=="OK"){
                $("#content-timeline").html(err.responseText);
                $("#txtComment").val('');
                $("#btnSendCommentItem").removeClass("disabled");
                $("#modalLong").modal('hide');
                $("#modalLg").modal('hide');
               }else{
                console.log(err);
                swal({title:'Error', html: err.responseText, type:'error'});
                $("#btnSendCommentItem").removeClass("disabled");
              }
               $("#modalContent").modal('hide'); 
          }
             });
    }

    
</script>