{% extends 'dashboard/dashboard_base.html.twig' %}

{% block title %}New EntityTypeDoc{% endblock %}

{% block content %}
    <h1>Create new EntityTypeDoc</h1>

    {{ include('entity_type_doc/_form.html.twig') }}

    <a href="{{ path('app_entity_type_doc_index') }}">back to list</a>
{% endblock %}
