<!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-8">

        <div class="container">
          <div class="row flex-center">
            <div class="col-md-5 order-md-1 text-center text-md-end"><img class="img-fluid mb-4" src="{{asset('homepage/public/assets/img/illustrations/feature.png')}}" width="450" alt="" /></div>
            <div class="col-md-5 text-center text-md-start">
              <h6 class="fw-bold fs-2 fs-lg-3 display-3 lh-sm">Muchas de las compañias top <br> ya nos eligen</h6>
              <p class="my-4 pe-xl-8">Ofrecemos servicios a compañias de todos los tamaños, por que contamos con procesos ágiles y transparentes, que nos permiten brindar el mejor servicio de gestión.</p>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->