
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="JAS Software">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Administración</title>
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{asset('homepage/assets/css/bootstrap.min.css')}}">

    <link rel="stylesheet" type="text/css" href="{{asset('homepage/assets/css/font-awesome.css')}}">

    <link rel="stylesheet" href="{{asset('homepage/assets/css/templatemo-softy-pinko.css')}}">

    </head>
    
    <body>
      <div id="preloader">
          <div class="jumper">
              <div></div>
              <div></div>
              <div></div>
          </div>
      </div>  
      
        {% include('homepage/_section_hero.html.twig') %}
        {% include('homepage/_section_welcome.html.twig') %}
        <!-- ***** Preloader Start ***** -->
        
     
        {% block content %}
        {% endblock %} 
      
      
      
      {% include('homepage/_scripts.html.twig') %}
      
  </body>
</html>