{% extends 'dashboard/dashboard_base.html.twig' %}

{% block title %}Edit AccountingGroup2{% endblock %}

{% block content %}
    <h1>Editar SubGrupo de Cuentas</h1>

    {{ include('accounting_group2/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="d-flex">
        <a class="btn" href="{{ path('app_accounting_group2_index') }}">Volver</a>
        {{ include('accounting_group2/_delete_form.html.twig') }}
    </div>
{% endblock %}
