{% extends 'dashboard/dashboard_base.html.twig' %}

{% block title %}New AccountingGroup2{% endblock %}

{% block content %}
    <h1>Nuevo SubGrupo de Cuentas</h1>

    {{ include('accounting_group2/_form.html.twig') }}

    <a class="btn" href="{{ path('app_accounting_group2_index') }}">Volver</a>
{% endblock %}
