{% extends 'dashboard/dashboard_base.html.twig' %}

{% block title %}New EntityTypeDoc{% endblock %}

{% block content %}
    <h1>Create new Reporte</h1>

    {{ include('reporte/_form.html.twig') }}

    <a href="{{ path('app_reporte_index') }}">back to list</a>
{% endblock %}
