{% extends 'dashboard/dashboard_base.html.twig' %}

{% block title %}Edit Cuenta{% endblock %}

{% block content %}
    <h1>Editar Cuenta</h1>

    {{ include('cuenta/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <div class="d-flex">
        <a class="btn" href="{{ path('app_cuenta_index') }}">Volver</a>
        {{ include('cuenta/_delete_form.html.twig') }}
    </div>
{% endblock %}
