{% extends 'dashboard/dashboard_base.html.twig' %}

{% block title %}Nueva Cuenta{% endblock %}

{% block content %}
    <h1>Crear Nueva Cuenta</h1>

    {{ include('cuenta/_form.html.twig') }}

    <a class="btn" href="{{ path('app_cuenta_index') }}">Volver</a>
{% endblock %}
