<footer class="footer">
                    <div class="container-fluid">
                      <nav class="float-left">
                        <ul>
                          <li>
                            <a href="https://www.jas-software.com.ar">
                              JAS Software
                            </a>
                          </li>
                          
                        </ul>
                      </nav>
                      <div class="copyright float-right">
                        &copy;
                        <script>
                          document.write(new Date().getFullYear())
                        </script>, made by
                        <a href="https://www.jas-software.com.ar" target="_blank">JAS Software</a>.
                      </div>
                    </div>
                  </footer>