{% extends 'dashboard/dashboard_base.html.twig' %}

{% block title %}New SubCuenta{% endblock %}

{% block content %}
    <h3>Crear Nueva SubCuenta</h3>
    
    {{ include('sub_cuenta/_form.html.twig') }}

    <a class="btn" href="{{ path('app_sub_cuenta_index') }}">Volver</a>
{% endblock %}
