{% extends 'dashboard/dashboard_base.html.twig' %}

{% block title %}New SubCuenta{% endblock %}

{% block content %}
    <h1>Create new SubCuenta</h1>

    {{ include('sub_cuenta/_form.html.twig') }}

    <a href="{{ path('app_sub_cuenta_index') }}">back to list</a>
{% endblock %}
